{% extends "base.html" %}

{% block title %} - fibonacci{% endblock %}

{% block css %}

{% endblock %}

{% block search %}fibonacci{% endblock %}

{% block user %}kevinnguy{% endblock %}

{% block user_img %}<img class="user_img" src="/static/img/kevinnguy.jpeg" alt="img">{% endblock %}

{% block main %}
    <div class="col item">
        <div class="top_item">
            <p class="nav"><a href="fibonacci">fibonacci</a></p>
            <div class="username">
                <div class="vline"></div><img class="social" src="/static/img/comment.png" alt="img"><img class="social" src="/static/img/star.png" alt="img"><img class="social" src="/static/img/share.png" alt="img"><img class="user_img" src="/static/img/beerme.jpeg" alt="img"><p class="name"><a href="beerme">beerme</a></p>
            </div>
        </div>

        <pre class="sunlight-highlight-cpp">
int fib(int n) {
    if ( n == 0 || n == 1 )
        return n;

    int fib1 = 0;
    int fib2 = 1;
    int fib = 0;

    for ( int i = 2; i < n; i++ )
    {
        fib = fib1 + fib2;
        fib1 = fib2;
        fib2 = fib;
    }

    return fib;
}</pre>

        <div class="bottom_item">
            <p class="nav"><a href="#">show related</a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<a href="#">show repo</a></p>
            <div class="language">
                <div class="vline"></div><p class="name">c++</p>
            </div>
        </div>
    </div>


    <div class="col item">
        <div class="top_item">
            <p class="nav"><a href="fibonacci">fibonacci</a></p>
            <div class="username">
                <div class="vline"></div><img class="social" src="/static/img/comment.png" alt="img"><img class="social" src="/static/img/star.png" alt="img"><img class="social" src="/static/img/share.png" alt="img"><img class="user_img" src="/static/img/angelhack.jpeg" alt="img"><p class="name"><a href="angelhack">angelhack</a></p>
            </div>
        </div>

        <pre class="sunlight-highlight-cpp">
# This program calculates the nth fibonacci number
# using alrogirhtm 1A: naive binary recursion
#
# compiled: n/a
# executed perl f1a.pl n
#

# Naive binary recursion: F(n) = F(n-1) + F(n-2)
sub fib {
    return @_[0] < 2 ? @_[0] : fib(@_[0]-1) + fib(@_[0]-2)
}

# Subroutine f(n) handles the negative arguments: F(-n) = F(n)*(-1)^(n+1)
sub f {
    if (@_[0] < 0) {
        return @_[0] % 2 ? fib(-@_[0]) : -fib(-@_[0]);
    } else {
        return fib(@_[0]);
    }
}

# Subroutine fib_print(n) prints out nth Fibonacci number
sub fib_print {
	print @_[0], "th Fibonacci number is ", f(@_[0]), "\n";
}

# entry point: check the number of command line parameters and check that
# the first parameter is an integer, if either fails, report usage information
if ( $#ARGV || int($ARGV[0]) ne $ARGV[0]) {
    die "Usage: perl ", $0, " n>\n";
            } else {
            fib_print($ARGV[0]);
            }
            }</pre>

        <div class="bottom_item">
            <p class="nav"><a href="#">show related</a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<a href="#">show repo</a></p>
            <div class="language">
                <div class="vline"></div><p class="name">perl</p>
            </div>
        </div>
    </div>



{% endblock %}

{% block js %}

{%  endblock %}
