{% extends "base.html" %}

{% block css %}

{% endblock %}

{% block main %}
    <div class="col item">
        <div class="top_item">
            <p class="nav">hello_world.py</p>
            <div class="username">
                <div class="vline"></div><img class="user_img" src="/static/img/kevnguy.jpeg" alt="img"><p class="name">pinflask</p>
            </div>
        </div>

        <pre class="sunlight-highlight-python">
def hello_world():
    return "Hello worl-I mean AngelHack!"
        </pre>

        <div class="bottom_item">
            <p class="nav"><a href="#">show related</a></p>
            <div class="language">
                <div class="vline"></div><p class="name">python</p>
            </div>
        </div>
    </div>

    <div class="col item">
        <div class="top_item">
            <p class="nav">sign_up.py</p>
            <div class="username">
                <div class="vline"></div><img class="user_img" src="/static/img/kevnguy.jpeg" alt="img"><p class="name">pinflask</p>
            </div>
        </div>

        <pre class="sunlight-highlight-python">
def hello_world():
    return "Hello worl-I mean AngelHack!"
        </pre>

        <div class="bottom_item">
            <a class="nav" href="#">show related</a>
            <div class="language">
                <p class="name">python</p>
            </div>
        </div>
    </div>


{% endblock %}

{% block js %}

{%  endblock %}
