{% extends "base.html" %}

{% block css %}
    <link rel="stylesheet" href="/static/css/auth-buttons.css" xmlns="http://www.w3.org/1999/html"
          xmlns="http://www.w3.org/1999/html" xmlns="http://www.w3.org/1999/html" xmlns="http://www.w3.org/1999/html">
{% endblock %}

{% block user %}login{% endblock %}
{% block motto %}
    Share and discover code the new way.
{% endblock %}

{% block main %}
    <div class="col signup item">
        Join us!
        <form>
            Email address:<input type="text"></br>
            Password:<input type="text"></br>
            <button type="button">Join!</button>
        </form>
    </div>
    <div class="col signup item">
        <p>or sign in the cool way:</p>
        <p><a class="btn-auth btn-github large" href="#button">Sign in with <b>GitHub</b></a></p>
        <p><a class="btn-auth btn-google large" href="#button">Sign in with <b>Google</b></a></p>
        <p><a class="btn-auth btn-facebook large" href="#button">Sign in with <b>Facebook</b></a></p>
        <p><a class="btn-auth btn-twitter large" href="#button">Sign in with <b>Twitter</b></a></p>
    </div>

    <div class="col item">
        <div class="top_item">
            <p class="nav">hello_world</p>
            <div class="username">
                <div class="vline"></div><img class="user_img" src="/static/img/kevnguy.jpeg" alt="img"><p class="name">kevnguy</p>
            </div>
        </div>

        <div class="bottom_item">
            <p class="nav"><a href="#">show related</a></p>
            <div class="language">
                <div class="vline"></div><p class="name">python</p>
            </div>
        </div>
    </div>

    <div class="col item">
        <div class="top_item">
            <p class="nav">login_beta</p>
            <div class="username">
                <div class="vline"></div><img class="user_img" src="/static/img/kevnguy.jpeg" alt="img"><p class="name">kevnguy</p>
            </div>
        </div>


        <div class="bottom_item">
            <a class="nav" href="#">show related</a>
            <div class="language">
                <p class="name">python</p>
            </div>
        </div>
    </div>


{% endblock %}

{% block js %}

{%  endblock %}
